[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adaptIVPT"]
	path = adaptIVPT
	url = https://github.com/daeyounglim/adaptivpt
[submodule "metapack"]
	path = metapack
	url = https://github.com/daeyounglim/metapack
